SPOTIFY_CLIENT_ID="SPOTIFY_CLIENT_ID"
SPOTIFY_CLIENT_SECRET="SPOTIFY_CLIENT_SECRET"
SPOTIFY_USERNAME = "SPOTIFY_USERNAME"
SPOTIFY_SCOPE = "SPOTIFY_SCOPE"

YOUTUBE_CLIENT_ID="YOUTUBE_CLIENT_ID"
YOUTUBE_CLIENT_SECRET="YOUTUBE_CLIENT_SECRET"